/*******INITIAL SETUP ********/

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/************* NAVBAR*************/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: left;
}

.nav img {
  height: 100px;
  width: auto;
  margin: 20px 0px;
}

.nav li,
a {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 25px 5px;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 400;
  padding-bottom: 8px;
}

/*************SECTIONS ********************/
.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sections li {
  list-style: none;
  display: inline-block;
  margin: 0 -2px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 90%;
  width: 300px;
  height: 75px;
  transition: all 0.5s;
  font-weight: 400;
  padding-bottom: 8px;
  border: 1px solid red;
  text-align: center;
}

/***********Hero Section ********/

.hero {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  height: 450px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 0px 75px;
}

.hero .hero-box1 {
  width: 450px;
  border: 2px solid green;
  border-radius: 45px;
}

.hero .hero-box2 {
  width: 450px;
  border: 2px solid green;
}

.hero .hero-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hero .hero-box2 .hero-group {
  width: 80%;
  border: 2px solid red;
  height: 75px;
  display: flex;
}

/***section********/

.sect {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  height: 350px;
  align-items: stretch;
  justify-content: space-between;
  padding: 0px 75px;
  flex-wrap: wrap;
}

.sect .test {
  width: 30%;
  border: 2px solid green;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.test img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.foot {
  margin-top: 50px;
  color: white;
  background-color: #555;
  margin-bottom: 0px;
  border: 1px solid black;
  text-align: center;
}
